<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="callout callout-info">
      <h3>Selamat datang di Aplikasi E-Rapor Online</h3>
    </div>
  </section>
</div>

<%- include ../../partials/admin_layout/footer.ejs %>