<%- include ../../partials/wali_kelas_layout/header.ejs %>
<%- include ../../partials/wali_kelas_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <section class="content">
    <div class="callout callout-info">
      <h4>Selamat datang di Aplikasi E-Rapor Online</h4>
      <!-- <p>Nama : Elfin</p>
      <p>NIP : 15312376</p>
      <p>Wali Kelas : Ya</p> -->
    </div>
  </section>
</div>



<%- include ../../partials/wali_kelas_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#ekstra').DataTable()
  })
</script>