<%- include ../../partials/siswa_layout/header.ejs %>
<%- include ../../partials/siswa_layout/sidebar.ejs %>

<div class="content-wrapper">
  <section class="content">
    <div class="callout callout-info">
      <h3>Selamat datang di Aplikasi Raport Online</h3>
    </div>
  </section>
</div>


<%- include ../../partials/siswa_layout/footer.ejs %>