<%- include ../../partials/guru_layout/header.ejs %>
<%- include ../../partials/guru_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <h3 class="box-title">Input Nilai Sikap dan Spritual</h3>
          </div>

          <div class="box-body">

            <table id="ekstra" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Nilai Sikap Spritual</th>
                  <th>Nilai sikap sosial</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Sanjaya</td>
                  <td>
                    <div class="form-group">
                      <select required name="jk" class="form-control">
                        <option value="pria">A</option>
                        <option value="wanita">B</option>
                        <option value="wanita">C</option>
                        <option value="wanita">D</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select required name="jk" class="form-control">
                        <option value="pria">A</option>
                        <option value="wanita">B</option>
                        <option value="wanita">C</option>
                        <option value="wanita">D</option>
                      </select>
                    </div>

                </tr>

                <tr>
                  <td>2</td>
                  <td>Fidin</td>
                  <td>
                    <div class="form-group">
                      <select required name="jk" class="form-control">
                        <option value="pria">A</option>
                        <option value="wanita">B</option>
                        <option value="wanita">C</option>
                        <option value="wanita">D</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select required name="jk" class="form-control">
                        <option value="pria">A</option>
                        <option value="wanita">B</option>
                        <option value="wanita">C</option>
                        <option value="wanita">D</option>
                      </select>
                    </div>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>



<%- include ../../partials/guru_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#ekstra').DataTable()
  })
</script>