<% stuff = typeof stuff !== 'object' ? {} : stuff %>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <!-- Optionally, you can add icons to the links -->
      <li class="<% if ( stuff.url == "/admin" ) { %> active <% } %>">
        <a href="/admin"> <i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/guru" ) { %> active <% } %>">
        <a href="/admin/guru"><i class="fa fa-user"></i> <span>Guru</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/siswa" ) { %> active <% } %>">
        <a href="/admin/siswa"><i class="fa fa-users"></i> <span>Siswa</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/mata-pelajaran" ) { %> active <% } %>">
        <a href="/admin/mata-pelajaran"><i class="fa fa-link"></i> <span>Mata Pelajaran</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/kelas" ) { %> active <% } %>">
        <a href="/admin/kelas"><i class="fa fa-home"></i> <span>Kelas</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/tahun" ) { %> active <% } %>">
        <a href="/admin/tahun"><i class="fa fa-calendar"></i> <span>Tahun</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/ekstra" ) { %> active <% } %>">
        <a href="/admin/ekstra"><i class="fa fa-edit"></i> <span>Ekstrakurikuler</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/set-kelas" ) { %> active <% } %>">
        <a href="/admin/set-kelas"><i class="fa fa-user-plus"></i> <span>Kelompok Kelas</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/kel-matpel" ) { %> active <% } %>">
        <a href="#"><i class="fa fa-book"></i> <span>Kelompok Mata Pelajaran</span></a>
      </li>
      <li class="<% if ( stuff.url == "/admin/kel-wali-kelas" ) { %> active <% } %>">
        <a href="#"><i class="fa fa-user-secret"></i> <span>Kelompok Wali Kelas</span></a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>