<div class="modal fade" id="add-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tambah Kelas</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="simpan_kelas">
          <div class="box-body">
            <div class="form-group">
              <label for="tingkat">Tingkat</label>
              <input type="number" class="form-control" id="tingkat" name="tingkat" placeholder="Masukan Tingkat"
                required>
            </div>
            <div class="form-group">
              <label for="nama">Nama</label>
              <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukan Nama" required>
            </div>

          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>