<!-- Modal Update Product-->
<form id="simpan_matpel">
  <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mata Pelajaran</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="kode">Kode Singkat</label>
            <input type="text" name="kode" class="form-control" placeholder="Masukan Kode" required>
          </div>

          <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" name="nama" class="form-control" placeholder="Masukan Nama" required>
          </div>

          <div class="form-group">
            <label for="nilaikkm">Nilai KKM</label>
            <input type="number" name="nilaikkm" class="form-control" placeholder="Masukan Nilai KKM" required>
          </div>
          <div class="form-group">
            <label>Kelompok</label>
            <select required name="kelompok" class="form-control">
              <option value="">--- Pilih Kelompok ---</option>
              <option value="A">A</option>
              <option value="B">B</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</form>