<%- include ../../partials/guru_layout/header.ejs %>
<%- include ../../partials/guru_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <section class="content">
    <div class="callout callout-info">
      <h4>Selamat datang di Aplikasi Raport Online</h4>
    </div>
  </section>
</div>

<%- include ../../partials/guru_layout/footer.ejs %>